html{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

body{
	background-color: white !important;
	padding: 0 !important;
}

#body.modal-open{
	overflow: visible;
	padding: 0;
	margin: 0;
}

#superiore{
	width: 100%;
 	background-image: linear-gradient(to right, rgb(250, 255, 252), rgb(56, 83, 255));
}

#occhio{
	width: 40%;
	height: 100%;
}

#settingsBtn{
  	margin-left: -20%;
}

.wrapper {
    width: 100%;
    padding-bottom: 4%;
    padding-top:3%;
}

.form{
	margin-left: 5%;
	width: 100%;
}

#fotoDestra{
	width: 100%;
	height: 70%;
	margin-top: 5%;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color:  white;
   text-align: left;
   padding: 1%;
   z-index: 1;
}

.modal-backdrop {
	display: none;
}
	
#myModalSettings{
	width: 100%;
	align-content: left;  
	padding: 5%;
} 

#divAlert{
	margin-left: 30%;
	margin-right: auto;
}
	
.modal-dialog{
	float: right;
}
	
.modal-open {
	padding-right:0 !important;
    overflow: hidden;
}

@media screen and (max-width: 576px) {
	#occhio{
	  	width: 100%;
	  	height: 100%;
	}
   	#settingsBtn{
  		margin-bottom:5%;
  		margin-left: 85%;
  		
	}
	#myModalSettings {
		width: 100%;
		align-content: left;  
		padding: 5%;
	}
	
	#myModalSettings>.modal-dialog{
		left:-25%; 
	}
	.modal-open {
		padding-right:0 !important;
	}
}
  
#uploadBtn{
	width: 100%;
	margin-bottom: 10%
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
  width: 100%;
  margin-bottom: 5%;
}

#descrizione{
	resize: none;
}

#customCheck{
	z-index: 0;
}

#tag{
	resize: none;
}

#infoVideo{
	width: 10%;
	visibility: hidden;
	height: 0;
}

#infoFoto{
	display: none;
}

a:hover{
	cursor: pointer;
}